*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.todo-list{
    background-color: aqua;
    min-height: 45px;
    max-width: 60vw;
    position: relative;
    margin: 25px auto;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0 0 1px rgba(0, 0, 0, .2), 1px 5px 0px aqua, 1px 5px 1px rgba(0, 0, 0, .2), 2px 9px 0px aqua, 2px 9px 1px rgba(0, 0, 0, .2);

}



.todo-list input ~ p {
    display: inline-block;
    padding: 15px 20px;
}
